.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: bisque;
}

.content {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row; /* Change to row for horizontal arrangement */
  gap: 15px;
  margin-top: 20px;
}

.card.red {
  background-color: #141be8;
  text-decoration: none;
}

.card.blue {
  background-color: #f80404;
  text-decoration: none;
}

.card.green {
  background-color: #22c55e;
  margin-bottom: 350px;
  text-decoration: none;
}

.cards .card {
  flex: 1;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1.5em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: brightness(30%);
  transform: scale(0.9, 0.9);
}

.falling-heart {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: red;
  animation: fall 5s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}

/* Media Query for responsiveness */
@media screen and (max-width: 600px) {
  .cards .card {
    width: 90%;
  }
}
